body {
	font-size: 125%;
	color: var(--color-01);
}

li {
	list-style: none;
}

button {
	padding: 0.5rem;
	border: none;
	background: inherit;
}

button:hover {
	cursor: pointer;
}


a {
	text-decoration: none;
}