body {
	font-size: 125%;
}

li {
	list-style: none;
}

button {
	padding: 0.5rem;
	border: none;
	background: inherit;
}

button:hover {
	cursor: pointer;
	transition: 0.4s;
	background: grey;
}


a {
	text-decoration: none;
}