.events__list--cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-family-body);
	margin: 1rem 1.5rem;
}


/* Styling one event-card */
.event__item--card {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

.event__item--picture {
	width: 100%;
	/* height: 12rem; */
}

.event__item--information {
	width: 100%;
	display: flex;
	border: 1px solid black;
}

.event__information--left {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-evenly;
	width: 20%;
	padding: 0.5rem;
	font-size: var(--font-size-small);
	border-right: 1px solid black;
}


.event__left--time {
	display: flex;
}

.event__time--icon {
	margin-right: 0.4rem;
}

.event__information--center {
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	padding: 0.5rem;
	border-right: 1px solid black;
	/* min-height: 3.6rem; */
}

.event__center--title {
	font-size: var(--font-size-medium);
	/* text-overflow: ellipsis; */
}

.event__location--icon {
	margin-right: 0.4rem;
}

.event__center--location {
	display: flex;
	font-size: var(--font-size-small);
}

.event__information--right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.event__right--button {
	background: #022723;
	padding: 0.3rem;
	width: 70%;
	font-family: var(--font-family-body);
}

.buy__button {
	color: var(--color-03);
}


@media screen and (min-width: 768px) {
	.events__list--cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
	}

	.event__item--card {
		margin: 0.8rem;
	}
}
