.overview__events--container {
	/* background: grey; */
}
.events__select--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.events__select--headline {
	display: flex;
	justify-content: left;
	margin: var(--margin-medium);
	font-size: var(--font-size-large);
}

.events__select--categories {
	padding: 0.5rem;
}

/* Buttons section-styling */
.genre__buttons--container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background: yellow;
}

.genre__button {
	margin: 0.2rem;
	border: 1px solid #000;
}

.genre__button:hover {
	background: grey;
	cursor: pointer;
	transition: 0.2s;
}