.header__headline {
	display: flex;
	align-items: center;
	color: var(--color-01);
	font-size: var(--font-size-large);
}

.header__top--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1.5rem;
	background: var(--color-02);
}

.header__navigation--close {
	display: none;
}

.header__menu--container {
	height: 100vh;
	display: none;
	background: var(--color-03);
}

.header__menu--item {
	line-height: normal;
	border: 1px solid var(--color-04);
}

.header__menu--item--link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: var(--color-01);
	font-family: var(--font-family-body);
}

.header__menu--item--arrow {
	border-left: 1px solid var(--color-04);
}

.header__navigation--bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 1.5rem;
}

.header__navigation--input {
	width: 90%;
	padding: 0.7rem;
	border: 1px solid black;
	border-radius: 100px;
	outline: none;
}

.header__navigation--submit {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -33px;
}

.header__navigation--submit--icon {
	width: 1rem;
	height: 1rem;
	object-fit: cover;
}

.header__navigation--heart {
	display: flex;
	justify-content: center;
}

.header__navigation--heart--icon {
	width: 3.5rem;
}

/* Styling tablet */
@media screen and (min-width: 615px) {
	.header__container {
		display: flex;
		flex-direction: column;
		/* height: 10rem; */
	}

	.header__menu--container {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100vw;
	}

	.header__menu--list {
		display: flex;
	}

	.header__menu--item {
		display: flex;
		justify-content: center;
		padding: 1rem;
		width: 35%;
	}

	/* Hovrer ikke med en gang */
	.header__menu--item:hover {
		background: pink;
		transition: 0.4s;
	}

	.header__navigation--input {
		width: 50%;
	}

	.header__navigation--open {
		display: none;
	}

	.header__navigation--close {
		display: none;
	}

	.header__navigation--heart {
		display: none;
	}

	.header__menu--item--arrow {
		display: none;
	}
	
}

/* Styling desktop */
@media screen and (min-width: 768px) {
	



}