.hero__section--container {
	margin: 2rem 0;
}

.hero__mobile--image {
	width: 100%;
}

/* Image cards */
.hero__section--cards {
	width: 100%;
	background-color: grey;
}

.hero__image--card {
	display: none;
	width: 100%;
}

.hero__image--visible {
	display: block;
}

.hero__image--visual {
	position: relative;
	width: 100%;
	opacity: 70%;
}

.hero__image--text {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	
	font-family: var(--font-family-body);
	/* position: absolute; */
	/* top: 5rem; */
}



@media screen and (min-width: 768px) {
	.hero__section--container {
		padding: 3rem 6rem;
	}
}