.main__headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 0 0;
	font-family: var(--font-family-body);
	font-size: var(--font-size-large);
}

.hero__section--container {
	margin: 2rem 0;
}

.hero__mobile--image {
	width: 100%;
}

/* Image cards */
.hero__section--cards {
	width: 100%;
	background-color: grey;
}

/* First hero image */
.hero__first--visible {
	display: block;
	width: 100%;
}

.hero__first--hidden {
	display: none;
}

/* Styling rest of hero cards */
.hero__image--card {
	display: none;
	width: 100%;
}

.hero__image--visible {
	display: block;
}

.hero__image--visual {
	width: 100%;
	opacity: 70%;
}

.hero__image--text {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 1rem;
	font-family: var(--font-family-body);
}

.hero__image--title, .hero__image--date {
	display: flex;
	justify-content: center;
	width: 50%;
}




@media screen and (min-width: 768px) {
	.hero__section--container {
		padding: 3rem 3rem;
	}
}