.hero__section--container {
	margin: 2rem 0;
}

.hero__mobile--image {
	width: 100%;
}

/* Image cards */
.hero__section--cards {
	width: 100%;
	background-color: grey;
}

.hero__image--card {
	display: none;
	width: 100%;
}

.hero__image--visible {
	display: block;
}

.hero__image--visual {
	width: 100%;
	opacity: 50%;
}

.hero__image--text {
	display: flex;
	justify-content: space-evenly;
	font-family: var(--font-family-body);
}

.hero__image--event {
	margin: 0.8rem;
}

.hero__image--date {
	margin: 0.8rem;
}