.events__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.events__headline {
	font-size: var(--font-size-large);
	padding-bottom: 1.5rem;
}

.events__items {
	width: 90%;
}

.event__item {
	width: 100%;
}

.event__item--image {
	width: 100%;
}

.event__item--headline {
	font-size: var(--font-size-medium);
	font-family: var(--font-family-body);
	/* letter-spacing: 7%; */
}

.event__item--text {
	font-size: var(--font-size-body);
	font-family: var(--font-family-body);
}


@media screen and (min-width: 768px) {
	.events__list--cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}